/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
/*@import 'settings', 'mixins', 'base', 'helpers', 'modules/island','modules/horizontal-list', 'modules/buttons', 'layouts/page', 'states';*/
main {
  overflow: hidden;
  max-width: 800px;
  margin: auto 0;
  align: right;
  padding-left: 250px;
  padding-top: 60px;
}
@font-face {
  font-family: 'StateFaceRegular';
  src: url ('/assets/fonts/stateface-regular-webfont.eot');
  src: url('/assets/fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  url('/assets/fonts/stateface-regular-webfont.woff') format('woff'),
  url('/assets/fonts/stateface-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}
.hidden-chat {
  font-size: 28px;
  max-width: 600px;
  border: 1px;
  line-height: 35px;
  font-family:'StateFaceRegular';
  padding-bottom: 60px;
}
.chat {
  font-size: 28px;
  max-width: 600px;
  border: 1px;
  line-height: 35px;
  font-family:'Georgia';
  padding-bottom: 60px;
}
.me {
  text-align: left;
  float: left;
  padding-left: 30px;
  clear: both;
}
.zee {
  text-align: right;
  float: right;
  display: inline-block;
  clear: both;
}

input.break{
  width: 600px;
  //border: 2px;
  outline: none;
 // overflow: visible;
  //resize: none;
  //white-space: pre-wrap; 
  word-break: break-word;
  word-wrap: normal;
  //height: 80px;
  //background-color: blue;
                
  padding-top: 0px;
  padding-bottom: 0px;
  }



